.d-container{
    display: flex;
    flex-direction: column;
    /* width: 80%; */
}

.heading{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #131630;
    font-weight: 200;
}

.doodle{
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #476576;
}

.desciption{
    color: #131630;
}

@media (width < 500px){
    .heading{
        font-size: 1rem;
    }
    .doodle{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .desciption{
        font-size: .7rem;
    }
}
