.d-container{
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    aspect-ratio: 2.55;
}

.heading{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #131630;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.doodle{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #476576;
    letter-spacing: 1.5px;
}

.doo-description{
    color: #131630;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

@media (width < 500px){
    .heading{
        font-size: 1rem;
    }
    .doodle{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .doo-description{
        font-size: .7rem;
    }
}
