@font-face {
    font-family: 'GT America Mono Bold'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Bold.otf') format('opentype'); 
}

@font-face {
    font-family: 'GT America Mono Medium'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Medium.otf') format('opentype'); 
}

@font-face {
    font-family: 'GT America Mono Regular'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Regular.otf') format('opentype'); 
}

@font-face {
    font-family: 'GT America Mono Thin'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Thin.otf') format('opentype'); 
}


.dr-container{
    aspect-ratio: 3.8;   
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem .7rem;
    gap: 1rem;
    height: auto;
    margin: .6rem ;
}

.left-dr-cont{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    aspect-ratio: 7;
    /* flex: .65; */
    /* background-color: aqua; */
}

.dr-heading{
    font-size: 2.45rem;
    letter-spacing: .5px;
    color: #476576;
    margin: 0;
    padding: 0;
    font-family: 'GT America Mono Bold', sans-serif;
}

.dr-p{
    font-size: 1.2rem;
    letter-spacing: .5px;
    margin: 1.5rem 0;
    padding: 0;
    font-family: 'GT America Mono Thin', sans-serif;

}

.dr-btn{
    aspect-ratio: 6.1;
    font-size: 1.3rem;
    /* letter-spacing: 3px; */
    /* line-height: 28px; */
    background-color: #8F00FF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    padding: .7rem 1.25rem;
    font-family: 'GT America Mono Thin', sans-serif;
}

.right-dr-cont{
    /* aspect-ratio: 1.7; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: .9rem; */
    margin-right: .8rem;
}

.right-dr-cont p{
    font-size: 1rem;
}

.dr-i-cont{
    height: 70%;
    /* width: 30%; */
    aspect-ratio: 0.76;
    position: relative;
    /* background-color: #00FFF0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dr-img-cont{
    /* aspect-ratio: .46; */
    height: 90%;
    width: 80%;
    /* background-color: #8F00FF; */
}

.dr-img-cont img{
    /* aspect-ratio: .26; */
    width: 100%;
    /* height: 200px; */
    /* width: 200px; */
    object-fit: contain;
    position: absolute;
    z-index: 3;
}

.dr-i-wrapper{
    width: 110%;
    height: 113%;
    aspect-ratio: .66;
    background: linear-gradient( top,#FF0083, #00FFF0);
    background: -webkit-linear-gradient(top,#FF0083, #00FFF0);
    clip-path: ellipse(45% 50%);
    position: absolute;
    top: 8px;
    left: 10px;
    transform: rotate(10.86deg);
    z-index: 0;
}

.image2{
    align-self: flex-start;
    margin: 0;
    margin-top: -5px;
    margin-left: -1.9rem;
}

.image2 .dr-i-wrapper{
    transform: rotate(-8deg);
    top: 6px;
}

.image3{
    margin-left: -1rem;
    margin-top: .5rem;
    z-index: 3;
}
.image3 .dr-i-wrapper{
    top: 12px;
    left: 8px;
    height: 100%;
}

.image4{
    align-self: flex-start;
    margin-left: -1.2rem;
    transform: rotate(0deg);
    z-index: 4;
}

.image4 .dr-i-wrapper{
    transform: rotate(-8deg);
    top: 6px;
}

@media (width < 500px){
    .dr-container{
        aspect-ratio: 2.53;
        gap: 0rem;
        padding: 0;
    }
    .left-dr-cont{
        flex: 1fr;
        margin-right: -.4rem;
    }
    .right-dr-cont{
        flex: .8;
        margin-right: -2.5rem;
        /* margin-left: -3rem; */
    }
    .dr-heading{
        font-size: 1.12rem;
    }
    .dr-p{
        font-size: .7rem;
        margin: .43rem 0;
    }
    .dr-btn{
        font-size: .7rem;
        aspect-ratio: 8;
        padding: .38rem;
        width: 100%;
        border-radius: 4.5px;
    }
    .dr-i-cont{
        width: 30%;
    }
    .dr-img-cont{
        width: 40%;
        height: 60%;
    }
    .dr-image{
        width: 60%;
        height: 70%;
        margin-left: -1rem;
    }
    .dr-i-wrapper{
        width: 75%;
        height: 70%;
        margin-top: 1rem;
        margin-left: .5rem;
        top: 2.8px;
        left: 5px;
        transform: rotate(11.5deg);
    }

    .image2{
        margin-top: .2rem;
        margin-left: -1.5rem;
    }

    .image2 .dr-i-wrapper{
        left: 5px;
        top: 2px;
        transform: rotate(-10deg);
    }

    .image3{
        margin-left: -1.4rem;
    }

    .image3 .dr-i-wrapper{
        height: 70%;
        top: 2px;
        left: 5px;
        transform: rotate(14deg);
    }

    .image4{
        margin-left: -1.6rem;
    }

    .image4 .dr-i-wrapper{
        left: 4px;
        top: 1px;
    }

}