@font-face {
    font-family: 'GT America Mono Thin'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Thin.otf') format('opentype'); 
}


@font-face {
    font-family: 'GT America Mono Medium'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Medium.otf') format('opentype'); 
}

.form-cont{
    width: 37%;
    /* aspect-ratio: 1.5; */
    border-radius: 12px;
    border: 1px solid #000;
    background: #FEFFBE;
    padding: 3rem 2rem;
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
    height: auto;
}

.q-no{
    color: #476576;
    font-family: "GT America Mono Medium";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-right-side{
    height: 100%;
}

form{
    height: 100%;
}

.form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.ques-option-cont{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.question{
    color: #476576;
    font-family: "GT America Mono Medium";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.options-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}


.options{
    font-size: 1.3rem;
    font-family: 'GT America Mono Thin', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.buttons  button{
    border-radius: 10px;
    background: #8F00FF;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'GT America Mono Thin', sans-serif;
    width: 25%;
    padding: .5rem 1rem;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

button:disabled{
    opacity: .2;
    cursor: not-allowed;
}

label{
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 7px;
    font: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #464646;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type="checkbox"]:checked{
    background: #FEFFBE;
    border: 1.5px solid rgba(0, 10, 255, 1);
}

input[type="checkbox"]::before {
    content: "";
    width: .6em;
    height: .6em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgba(0, 10, 255, 1);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }


@media (width > 2400px){
    .form-cont{
        width: 35%;
        gap: 2rem;
    }
    .q-no{
        font-size: 3rem;
    }
    .question{
        font-size: 3rem;
    }
    .ques-option-cont{
        gap: 2rem;
        margin-bottom: 10rem;
    }
    .options{
        font-size: 2rem;
    }
    .buttons button{
        width: 20%;
        font-size: 1.5rem;
    }
}

@media (1200px < width < 1400px){
    .form-cont{
        width: 50%;
    }
}

@media (1000px < width < 1200px){
    .form-cont{
        width: 48%;
    }
    .q-no{
        font-size: 1.8rem;
    }
    .question{
        font-size: 1.8rem;
    }
    .ques-option-cont{
        margin-bottom: 5rem;
    }
}

@media (800px < width < 1000px){
    .form-cont{
        width: 60%;
    }
    .q-no{
        font-size: 1.8rem;
    }
    .question{
        font-size: 1.8rem;
    }
    .ques-option-cont{
        margin-bottom: 5rem;
    }

}

@media (600px < width < 800px){
    .form-cont{
        width: 60%;
        padding: 2.5rem 2rem;
        padding-bottom: .8rem;
        padding-right: .8rem;
        border-radius: 8px;
    }
    .q-no{
        font-size: 1.5rem;
    }
    .ques-option-cont{
        gap: 1.3rem;
        margin-bottom: 3.5rem;
    }
    .question{
        font-size: 1.5rem;
    }
    .options-cont{
        gap: 1rem;
    }
    .options{
        font-size: 1.1rem;
    }
    .buttons button{
        font-size: 1rem;
        border-radius: 7px;
    }
}

@media (width < 600px){
    .form-cont{
        width: 70%;
        /* aspect-ratio: 1.3; */
        padding: 1rem .7rem;
        border-radius: 7px;
    }
    .q-no{
        font-size: 1rem;
    }
    .ques-option-cont{
        gap: 1rem;
        margin-bottom: 3rem;
    }
    .question{
        font-size: 1rem;
    }
    .options-cont{
        gap: .7rem;
    }
    .options{
        font-size: .7rem;
        gap: .5rem;
        align-items: center;
    }
    .buttons button{
        font-size: .7rem;
        width: 30%;
        padding: .2rem;
        border-radius: 5px;
    }
}