@font-face {
    font-family: 'GT America Mono Bold'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Bold.otf') format('opentype'); 
}

@font-face {
    font-family: 'GT America Mono Medium'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Medium.otf') format('opentype'); 
}

@font-face {
    font-family: 'GT America Mono Regular'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Regular.otf') format('opentype'); 
}

@font-face {
    font-family: 'GT America Mono Thin'; 
    src: url('../FONT_GT_America_mono/GT-America-Mono-Thin.otf') format('opentype'); 
}



.q-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    /* max-height: fit-content; */
    /* min-height: 35vh; */
    aspect-ratio: 1.62;
    /* margin: .5rem; */
    gap: 1rem;
}

.left-div{
    /* width: 48rem; */
    /* height: 18rem; */
    margin-left: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
    /* flex: 1; */
    aspect-ratio: 0.58;
    margin-top: 1.5rem;

}

.q-i-cont{
    height: 75%;
    aspect-ratio: 0.76;
    position: relative;
    /* background-color: #00FFF0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
}

.img-cont{
    /* aspect-ratio: .46; */
    height: 100%;
    width: 100%;
    /* background-color: #8F00FF; */
}

.img-cont img{
    /* aspect-ratio: .26; */
    width: 105%;
    /* height: 200px; */
    /* width: 200px; */
    object-fit: contain;
    position: absolute;
    z-index: 3;
}

.q-i-wrapper{
    width: 100%;
    height: 100%;
    aspect-ratio: .66;
    background: linear-gradient( top,#FF0083, #00FFF0);
    background: -webkit-linear-gradient(top,#FF0083, #00FFF0);
    clip-path: ellipse(45% 50%);
    position: absolute;
    top: 5px;
    left: -4px;
    transform: rotate(10.86deg);
    z-index: 0;
}



.btn{
    width: 75%;
    font-size: 1.3rem;
    background-color: #8F00FF;
    color: white;
    font-family: 'GT America Mono Thin', sans-serif;
    font-weight: 200;
    border-radius: 10px;
    padding: .3rem;
    margin-top: 1rem;
    /* line-height: 1rem; */
    cursor: pointer;
    border: none;
    aspect-ratio: 3.8;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: #420076;
}




.right-div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* justify-content: flex-start; */
    /* flex: 1; */
    aspect-ratio: 0.9;
    margin: 0;
    margin-bottom: 1rem;  
    margin-right: -2rem;
    justify-content: center; 
    flex: 1fr;
}

.q-heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #131630;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-family: 'GT America Mono Thin', sans-serif;
}

.quote-image{
    width: 25px;
    height: 20px;
    margin: 0;
    margin-bottom: 0rem;
}

.quote{
    position: relative;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    margin-left: .1rem;
    color: #476576;
    font-size: 2.4rem;
    line-height: 2.7rem;
    /* width: 20rem; */
    /* height: 50%; */
    letter-spacing: 2px;
    font-family: 'GT America Mono Bold', sans-serif;
    /* overflow: auto; */
}

.quote::-webkit-scrollbar{
    display: none;
}

.big-quote{
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 0px;
    margin-top: .5rem;
}

.large-quote{
    font-size: .7rem;
    line-height: 1.7rem;
    letter-spacing: -.5px;
}

.name{
    font-size: 1.2rem;
    /* margin: 0; */
    color: #131630;
    line-height: .5rem;
    margin-bottom: 1rem;
    font-family: 'GT America Mono Medium', sans-serif;
    height: fit-content;
}

.description{
    margin: 0;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.3rem;
    color: #131630;
    font-weight: 200;
    /* letter-spacing: 1.3px; */
    font-family: 'GT America Mono Thin', sans-serif;
}

.big-quote ~ .description{
    font-size: 1.1rem;
}

.big-quote ~ .name{
    font-size: 1.1rem;
    line-height: 1rem;
}

.large-quote ~ .description{
    font-size: 1.05rem;
}

.large-quote ~ .name{
    font-size: 1.12rem;
}



@media (width > 1440px){
    
}

@media (1000px < width < 1440px) {
    .q-container{
        /* height: 22rem; */
        height: auto;
        aspect-ratio: 1.4;
    }
    .btn{
        font-size: 1.1rem;
    }
    .q-heading{
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }
    .quote{
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: .1rem;
    }
    .big-quote{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .name{
        font-size: 1.1rem;
        line-height: 1rem;
        margin: .5rem 0;
        /* background-color: #131630; */
    }
    .description{
        font-size: 1rem;
        margin: .3rem 0;
    }
    .quote-image{
        width: 20px;
        height: 15px;
    }
    
    .big-quote ~ .name{
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1rem;
    }
    .big-quote ~ .description{
        font-size: .9rem;
        margin: 0;
    }
    
    
}

@media (800px < width < 1000px){
    
}

@media (600px< width < 800px){
    .btn{
        width: 85%;
        font-size: 1.3rem;
        padding: .5rem .2rem;
        line-height: 1rem;
    }
    
    .q-container{
        /* height: 22rem; */
        height: auto;
    }
    
}

@media (width < 600px){
    .q-container{
        /* height: 20rem; */
        margin: 0.5rem -.5rem;
        aspect-ratio: 1.63;
    }
    .left-div{
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .img-cont{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .q-image{
        width: 50%;
    }
    .btn{
        font-size: .7rem;
        border-radius: 5px;
    }
    .right-div{
        margin-bottom: .3rem;
    }
    .q-heading{
        font-size: .7rem;
        margin: .3rem 0;
    }
    .quote-image{
        width: 11px;
        height: 10px;
        margin-left: .1rem;
    }
    .quote{
        font-size: 1.12rem;
        line-height: 1.3rem;
    }
    .big-quote{
        margin-top: .56rem;
        font-size: .8rem;
        line-height: 1rem;
    }
    .name{
        font-size: .8rem;
    }
    .description{
        font-size: .7rem;
    }
    .big-quote ~ .name{
        font-size: .7rem;
        margin: .2rem 0;
    }
    .big-quote ~ .description{
        font-size: .5rem;
        margin-bottom: .1rem;
    }
   
}

@media (orientation : landscape ) {
    .image{
        max-height: 75%;
        max-width: 70%;
    }
    /* .btn{
        margin: 0;
        font-size: 1rem;
        width: 79%;
        padding: .5rem;
        margin-top: .7rem;
    } */
    .left-div{
        justify-content: flex-start;
    }
    /* .q-heading{
        font-size: 1.3rem;
    }
    .quote{
        margin-bottom: 0rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    .name{
        line-height: .7rem;
        font-size: 1.2rem;
    } */
    /* .q-container{
        justify-content: center;
        height: 17rem;
    } */
    /* .description{
        font-size: 1.1rem;
    } */
}



/* .image{
    height: 77%;
    width: 75%;
    transform: rotate(10.86deg) translateY(.9rem);
    background: url('../assets/image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: black;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    aspect-ratio: 0.85;
    
} */

/* .image1{
    max-width: 75%;
    max-height: 70%;
    object-fit: cover;
    max-height: 70%;
    margin: 0;
    border-radius: 100%;

} */