@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Big+Shoulders+Display:wght@500&family=Oswald&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* aspect-ratio: 1.23; */
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}

.header{
  font-size: 4rem;
  height: 70px;
  padding: 0.7rem;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Antonio', sans-serif;
  /* font-family: 'Big Shoulders Display', sans-serif; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  text-transform: capitalize;
  margin: 0 .8rem ;
}

.head-img{
  width: 13vw;
}

.star img{
  margin: 1rem 0;
  margin-right: -15px;
  padding: 0;
}


.bottom-border{
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #FF0000, #8FFF00, #00FFD1, #3300FF, #FF0000);
}

.grid{
  /* width: 100vw; */
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  padding: 2rem 0;
  box-sizing: border-box;
  /* gap: 1rem;  */
  /* position: absolute; 
  top: 32px;
  left: 40px;
  right: 43px;   */
  width: 100vw;

}

.left-side
{
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* position: absolute; */
  /* left: 50px; */
  /* aspect-ratio: 0.7; */
  /* flex: .9; */

}

.right-side{
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  /* width: 45%; */
  /* aspect-ratio: 0.72; */
  /* position: absolute; */
  /* right: 50px; */
  /* flex: 1; */
}

.bottom-star{
  /* position: absolute; */
  /* left: 1.5rem; */
  /* left: 1rem; */
}

.bottom-star img{
  margin-right: -15px;
  padding: 0;
}

footer{
  /* position: sticky; */
  /* bottom: 2rem; */
    margin-left: 4rem;
    margin-top: -4rem;
}


@media (width > 1440px){
  .header{
    /* font-size: 3.5rem;
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: .5rem; */
  }

}

@media (1000px < width < 1200px ){
  .header{
    /* font-size: 3rem;
    height: 2.7rem;
    padding-bottom: 0.2rem; */
  }
  .head-img{
    width: 17vw;
  }
  footer{
    margin-top: -1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  

}

@media (800px <width < 1000px){
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head-img{
    width: 20vw;
  }
}

@media (width <800px){
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header{
    font-size: 2.5rem;
  }
  .head-img{
    width: 25vw;
  }
}

@media (width < 600px){
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-side{
    gap: 2rem;
  }
  .right-side{
    gap: 2rem;
  }
  footer{
    margin-top: -2rem;
    margin-left: 0rem;
  }
  .bottom-star img{
    width: 25px;
    height: 25px;
    margin-right: -10px;
  }
  .star img{
    width: 16px;
    height: 16px;
    margin-right: -5px;
  }
  .head-img{
    width: 30vw;
  }
}

















