@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Big+Shoulders+Display:wght@500&family=Oswald&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* aspect-ratio: 1.23; */
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}

.header{
  height: 70px;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  text-transform: capitalize;
  margin: 0 .8rem ;
}

.head-img{
  width: 13vw;
}

.star{
  display: flex;
  align-items: center;
}

.star svg{
  margin: 1rem 0;
  margin-right: -15px;
  padding: 0;
}


.bottom-border{
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #FF0000, #8FFF00, #00FFD1, #3300FF, #FF0000);
}

.grid{
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  padding: 2rem 0;
  box-sizing: border-box;
  /* gap: 1rem;  */
  width: 100vw;

}

.left-side
{
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;


}

.right-side{
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

}

.bottom-star{
  position: sticky;
  bottom: -8rem;
}

.bottom-star svg{
  margin-right: -15px;
  padding: 0;
}

footer{

    margin-left: 2rem;
    /* margin-top: -8rem; */
}

.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: black;
  opacity: .76;
}

.form-cont{
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-btn{
  border: none;
  background: #F2BFFF;
  padding: .8rem 1.5rem;
  border-radius: 24px;
  /* margin-bottom: 5rem; */
  margin-top: -3rem;
  position: absolute;
  right: 2rem;
  /* bottom: 0rem; */
  cursor: pointer;
}

.contact-us-redirect{
  font-size: 1.15rem;
  text-decoration: none;
  color: black;
  font-family: 'GT America Mono Medium', sans-serif;
  cursor: pointer;
}


.bottm-margin{
  height: 2rem;
  margin-bottom: 1rem;
}

@media (width > 1400px){
  .header{
   
  }
  .contact-btn{
    /* right: 1rem; */
  }

}

@media ( 1200px < width < 1400px){
  .contact-btn{
    right: 1rem;
  }
}

@media (1000px < width < 1200px ){
  .header{
    
  }
  .head-img{
    width: 17vw;
  }
  footer{
    margin-top: -1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .contact-btn{
    right: 1.5rem;
  }

}

@media (800px <width < 1000px){
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head-img{
    width: 20vw;
  }
  .contact-btn{
    right: 1rem
  }
}

@media (width <800px){
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header{
    height: auto;
  }
  .head-img{
    width: 25vw;
  }
}

@media (width < 600px){
  .header{
    height: auto;
    margin: 0 .5rem;
    padding-right: .5rem;
  }
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-side{
    gap: 2rem;
  }
  .right-side{
    gap: 2rem;
  }
  footer{
    margin-top: -2rem;
    margin-left: 0rem;
  }
  .bottom-star svg{
    width: 25px;
    height: 25px;
    margin-right: -10px;
  }
  .star svg{
    width: 16px;
    height: 16px;
    margin: 0;
    margin-right: -5px;
  }
  .head-img{
    width: 30vw;
  }
  .contact-btn{
    margin-top: 0rem;
    right: 0rem;
    margin-right: 3vw;
    padding: .5rem 1rem;
  }
  .contact-us-redirect{
    font-size: .8rem;
  }
  .bottm-margin{
    height: 5vh;
  }
}

















